body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #333;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.mensaje-advertencia {
    color: red;
    background-color: #ffebee; /* Color de fondo para un tono de rojo claro */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.mensaje-correcto {
    color: green; /* Cambia el color a verde o el color deseado para mensajes felices */
    background-color: #e6ffe6; /* Cambia el fondo a un tono claro de verde */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
} 

.mensaje-repetida {
    color: #f39c12;  /* Color de la repetición de letras */
    font-weight: bold;
}