body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #1a237e; /* Color del texto */
    font-family: 'Arial', sans-serif; /* Fuente del texto */
    font-size: 36px; /* Tamaño del texto */
    text-align: center; /* Alineación del texto */
    text-transform: uppercase; /* Convertir a mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-bottom: 20px; /* Margen inferior */
    background-color: #E2E2E2; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

h3 {
    display: block;
    margin-bottom: 12px;
    color: #333;
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #02850F;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.mensaje-advertencia {
    color: #AC0505;
    background-color: #ffebee; /* Color de fondo para un tono de rojo claro */
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.mensaje-correcto {
    color: #0E4E21; /* Cambia el color a verde o el color deseado para mensajes felices */
    background-color:#B7DA83; /* Cambia el fondo a un tono claro de verde */
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 400px;
    margin: 0 auto;
} 

.mensaje-repetida {
    color: #945601;  /* Color de la repetición de letras */
    background-color: #F4F2C1; /* Cambia el fondo a un tono claro de verde */
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.mensaje-perdiste {
    color: #d9534f; 
    font-weight: bold;
    font-size: 20px;
}

.mensaje-game-over {
    color: #d9534f; 
    font-weight: bold;
    font-size: 26px;
}

.mensaje-ganaste {
    color: #4caf50; 
    font-weight: bold;
    font-size: 26px;
}