<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego del Ahorcado</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <h1>Juego del Ahorcado</h1>
    
    <form action="/jugar" method="post">
        <label for="seleccion">Elegir temática:</label>
        <select name="seleccion" id="seleccion">
            <option value="a">Animales</option>
            <option value="b">Comida</option>
            <option value="c">Paises</option>
            <option value="d">Profesiones</option>
            <option value="e">Deportes</option>
        </select>
        <input type="hidden" name="opcion" value="1">
        <br>
        <button type="submit">Comenzar Juego</button>
    </form>
</body>
</html>

