<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego del Ahorcado</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <h1>Juego del Ahorcado</h1>
    
    <form action="/elegir_opcion" method="post">
        <label for="opcion">Elegir opción:</label>
        <select name="opcion" id="opcion">
            <option value="1">Jugar por temáticas</option>
            <option value="2">Jugar por nivel de dificultad</option>
        </select>
        <br>
        <button type="submit">Continuar</button>
    </form>
</body>
</html>